<h1>Landmarks</h1>
<ul>
  <% Landmark.all.each do |landmark| %>
  <li><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a></li>
  <% end %>
</ul>

<a href="/landmarks/new">Create a new landmark</a>
