<h1>New Landmark</h1>

<form action="/landmarks" method="post">
  <label for="landmark_name">Landmark Name</label><br>
  <input type="text" name="landmark[name]" id="landmark_name"><br></br>
  <label for="landmark_year_completed">Landmark Completion Date</label><br>
  <input type="number" name="landmark[year_completed]" id="landmark_year_completed"><br></br>
  <input type="submit" value="Create New Landmark">
</form>
