<h1>New Landmark</h1>

<form action="/landmarks" method="post">
  <label for="Name">Landmark Name</label><br>
  <input type="text" name="landmark[name]" id="Name"><br></br>
  <label for="Completion_Date">Landmark Completion Date</label><br>
  <input type="text" name="landmark[year_completed]" id="Completion_Date"><br></br>
  <input type="submit" value="Create Landmark">
</form>
