<h1>Create a new figure</h1>

<form action="/figures" method="post">
  <label for="name">Name</label><br>
  <input type="text" name="figure[name]"><br></br>

  <label>Titles</label><br>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<% title.id %>"><%= title.name %></input>
  <% end %><br></br>
  <label>Create a new Title</label><br>
  <input type="text" name="title[name]"><br></br>

  <label>Landmarks</label><br>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<% landmark.id %>"><%= landmark.name %></input>
  <% end %><br></br>

  <label>Create a new Landmark</label><br>
  <input type="text" name="landmark[name]"><br></br>


  <input type="submit" value="Create New Figure">

</form>
